@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Sacramento|Tangerine');

$great-vibes:                 'Great Vibes', cursive;
$sacramento:                  'Sacramento', cursive;
$tangerine:                   'Tangerine', cursive;