@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Sacramento|Tangerine');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$roboto:       'Roboto', sans-serif;
$great-vibes:  'Great Vibes', cursive;
$sacramento:   'Sacramento', cursive;
$tangerine:    'Tangerine', cursive;