@mixin text-style($ff)
{
	font-family: $ff;
}

@mixin transition($transition) 
{
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

@mixin flex()
{
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

@mixin flex-custom($display, $align-items, $justify-content)
{
	display: $display;
	align-items: $align-items;
	justify-content: $justify-content;
}