@import "01-variables";

// PAGE 1

.page-1 {
    background-image: url("../img/bg8-1.jpg");
    height: 100vh;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hiddern;

    // div
    // {
    // 	padding: 1rem;
    // 	background-color: rgba(#eee, 0.8);
    // }
}

// PAGE 2
.page-2 {
    background-image: url("../img/bg8-1.jpg");
    height: 100vh;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hiddern;

    // div
    // {
    // 	padding: 1rem;
    // 	background-color: rgba(#eee, 0.8);
    // }
}

// PAGE 3
.page-3 {
    background-image: url("../img/bg7-1.jpg");
    height: 100%;

    // min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;

    div {
        // padding: 1rem;
        // background-color: rgba(#000, 0.5);

        @media screen and (max-width: 500px) {
            .tang-n {
                font-size: 2rem;
            }
        }

        .picture-nya {
            background: none;
            display: none;
            text-align: center;
        }
    }

    .next-happened {
        display: none;
    }

    .swiper-container
    {
    	overflow: hidden;
    }

   	.swiper-slide {
   	  text-align: center;
	    font-size: 18px;
	    // background: #fff;
	    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
   	}
}